.container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2c3e50;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  line-height: 1.5;
}

#app, #app * {
  /* border: 1px solid lightgrey; */
}

#app textarea {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: limegreen;
  font-size: x-large;
  padding: 0.5rem;
  white-space: pre-wrap;
  height: 60vh;
  width: 100%;
  overflow-y: auto;
}
